<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h2>Welcome to product stock</h2>
      <a href="/">Back Home</a>
    </div>
  </body>
</html>
